.obsidain/

.obsidian/workspace-mobile.json
.obsidain/workspace.json
.obsidian/app.json

.trash/
.DS_Store
.img
.obsidian/plugins/obsidian-git/data.json
*.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/remember-cursor-position/cursor-positions.json
