.obsidain/

.obsidian/workspace-mobile.json
.obsidain/workspace.json
.obsidian/app.json

.trash/
.DS_Store
.img
.obsidian/plugins/obsidian-git/data.json
*.json
.obsidian/plugins/obsidian-git/data.json

.gitattributes

FDE5FD3B-23F6-48B3-8F3A-F9EC405E3BCA_1_105_c
